/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(139, 145, 141);
  border-radius: 10px;

}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}


/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */

